*{ margin: 0 auto; padding: 0; font-family: 'Roboto', Arial, sans-serif; outline: 0; color: #333;
	-webkit-box-sizing: border-box; 
		-moz-box-sizing: border-box; 
			box-sizing: border-box; }
html, body{ width: 100%; height: 100%; background: #ffffff; }

.form{ width: 100%; max-width: 600px; margin: 30px auto 0; }
h1{ font-weight: normal; }
.form > h1{ margin-bottom: 40px; }
form{ }

.col-12,
.col > label{ display: block; margin-bottom: 3px; }

input[type="radio"]{ margin: 0 5px 10px 0px; }

select,
input[type="text"],
input[type="search"],
input[type="number"],
input[type="email"],
input[type="tel"],
input[type="url"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="submit"],
input[type="color"]{ padding: 6px 5px; width: 60%; margin: 0px 0 10px; border: 1px solid #ccc; font-size: 14px; background: #ffffff;
						-webkit-border-radius: 1px;
							-moz-border-radius: 1px;
								border-radius: 1px; }

select.fr-error,
input[type="text"].fr-error,
input[type="search"].fr-error,
input[type="number"].fr-error,
input[type="email"].fr-error,
input[type="tel"].fr-error,
input[type="url"].fr-error,
input[type="range"].fr-error,
input[type="date"].fr-error,
input[type="month"].fr-error,
input[type="week"].fr-error,
input[type="time"].fr-error,
input[type="datetime"].fr-error,
input[type="datetime-local"].fr-error,
input[type="submit"].fr-error,
input[type="color"].fr-error{ background: #FFEFEF; border: 1px solid #C45252; }
.fr-error{ color: #C45252; }

.checkbox-group{ display: block; margin: 10px 0; }
.checkbox-group *{ cursor: pointer; }

input[type="submit"]{ width: auto; padding: 6px 15px; background: #1b69a7; border: 0; color: #ffffff; margin: 10px 0 0 0; }

#fr-message-area{ display: block; background: #FDD8D8; color: #B34848; padding: 14px 18px; margin: 10px 0; width: 60%; border: 1px solid #EBB7B7; }