*{
	font-family: Roboto,Arial,sans-serif;
	margin: 0 auto;
	color: #333;
	padding: 0;
	outline: 0;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body,
html{
	background: #fff;
	width: 100%;
	height: 100%;
}

.form{
	margin: 30px auto 0;
	max-width: 600px;
	width: 100%;
}

h1{
	font-weight: 400;
}

.form>h1{
	margin-bottom: 40px;
}

.col-12,
.col > label{
	margin-bottom: 3px;
	display: block;
}

input[type=radio]{
	margin: 0 5px 10px 0;
}

input[type="color"],
input[type="date"],
input[type="datetime-local"],
input[type="datetime"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="range"],
input[type="search"],
input[type="submit"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select{
	border: 1px solid #ccc;
	background: #fff;
	width: 60%;
	padding: 6px 5px;
	margin: 0 0 10px;
	font-size: 14px;

	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
}

input[type="color"].rf-error,
input[type="date"].rf-error,
input[type="datetime-local"].rf-error,
input[type="datetime"].rf-error,
input[type="email"].rf-error,
input[type="month"].rf-error,
input[type="number"].rf-error,
input[type="range"].rf-error,
input[type="search"].rf-error,
input[type="submit"].rf-error,
input[type="tel"].rf-error,
input[type="text"].rf-error,
input[type="time"].rf-error,
input[type="url"].rf-error,
input[type="week"].rf-error,
select.rf-error{
	border: 1px solid #C45252;
	background: #FFEFEF;
}

.rf-error{
	color: #C45252;
}

.checkbox-group{
	display: block;
	margin: 10px 0;
}

.checkbox-group *{
	cursor: pointer;
}

input[type=submit]{
	background: #1b69a7;
	color: #fff;
	padding: 6px 15px;
	margin: 10px 0 0;
	width: auto;
	border: 0;
}

#rf-message-area{
	background: #FDD8D8;
	border: 1px solid #EBB7B7;
	color: #B34848;
	padding: 14px 18px;
	margin: 10px 0;
	display: block;
	width: 60%;
}